.sorting-bar {
	display: flex;
	justify-content: center;
	flex-flow: column;
	height: 75px;
	width: 220px;
	margin: 0 auto;
}

.sorting-bar button {
	margin-bottom: 10px;
	padding: 1px 2px;
}

.sorting-bar .first-row {
	display: flex;
	column-gap: 5px;
}

.sorting-bar .second-row {
	display: flex;
	column-gap: 6px;
}

.sorting-bar p {
	margin-top: 5px;
	text-align: center;
	margin: auto 0;
}

.order-buttons-on {
	border: rgb(0, 0, 0) solid 2px;
}

.articles ul {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0;
	margin: 0 auto;
	width: 90%;
}

.articles ul li {
	border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
	padding: 0;
	margin: 5px 0;
	width: 100%;
	min-height: 180px;
}

.articles ul li {
	text-align: left;
}

.articles ul li h3 {
	margin: 5px 0 0 0;
	font-size: 18px;
}

.articles ul li a {
	color: black;
	text-decoration: none;
}

.articles ul li p {
	margin: 10px 0;
}

.articles .author {
	margin: 5px 0 15px 0;
}

#pageButtons {
	display: flex;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	width: 225px;
}

.nextButton,
.previousButton {
	padding: 10px 0;
}

#pageButtons button {
	width: 100px;
	height: 25px;
	text-align: center;
	align-items: center;
	margin: 0;
}

.total {
	text-align: center;
	margin: 5px;
}

#top {
	text-transform: capitalize;
}
